*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header__nav{
    background: peru;
    color: white;
    height: 50vh;
display: flex;
justify-content: center;
align-items: center;
}

.header__content{
    background: black;
    color: white;
    height: 50vh;
    display: flex;
justify-content: center;
align-items: center;
}